# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
.env/
ENV/
venv.bak/
env.bak/

# Node / JS
node_modules/
dist/
build/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Python egg
*.egg-info/

# Jupyter
.ipynb_checkpoints/
